    <!-- Diner #1 enters their criteia -->
    <fieldset class="border-fieldset">
        <legend>diner #1</legend>
        <div class="form-input">
            <label for="choice1">Enter your first choice:</label>
            <select name="choice1" id="choice1">
                <option name="default" selected>?</option>
                <option value="sushi">sushi</option>
                <option value="pizza">pizza</option>
                <option value="salad">salad</option>
                <option value="diner">diner</option>
                <option value="burrito">burrito</option>
                <option value="thai">Thai food</option>
                <option value="french">French food</option>
                <option value="hot-pot">hot pot</option>
                <option value="burger">burger</option>
                <option value="dessert">dessert</option>
            </select>
        </div>

        <div class="form-input">
            <label for="choice2">Enter your second choice:</label>
            <select name="choice2" id="choice2">
                <option name="default" selected>?</option>
                <option value="sushi">sushi</option>
                <option value="pizza">pizza</option>
                <option value="salad">salad</option>
                <option value="diner">diner</option>
                <option value="burrito">burrito</option>
                <option value="thai">Thai food</option>
                <option value="french">French food</option>
                <option value="hot-pot">hot pot</option>
                <option value="burger">burger</option>
                <option value="dessert">dessert</option>
            </select>
        </div>

        <div class="form-input">
            <label for="choice2">Enter your third choice:</label>
            <select name="choice3" id="choice3">
                <option name="default" selected>?</option>
                <option value="sushi">sushi</option>
                <option value="pizza">pizza</option>
                <option value="salad">salad</option>
                <option value="diner">diner</option>
                <option value="burrito">burrito</option>
                <option value="thai">Thai food</option>
                <option value="french">French food</option>
                <option value="hot-pot">hot pot</option>
                <option value="burger">burger</option>
                <option value="dessert">dessert</option>
            </select>
        </div>
        
        <div class="form-input">
            <label for="dietary">Any dietary needs?</label>

            <div class="dietary">

                <!-- Allergy Checkbox -->
                <div class="dietary-needs-outer"><input type="checkbox" id="allergy" value="allergy"><label for="allergy" class="dietary-needs">Allergy</label></div>

                <!-- Gluten Free Checkbox -->
                <div class="dietary-needs-outer"><input type="checkbox" id="gluten-free" value="gluten-free"><label for="gluten-free" class="dietary-needs">Gluten-free</label></div>

                <!-- Halal Checkbox -->
                <div class="dietary-needs-outer"><input type="checkbox" id="halal" value="halal"><label for="halal" class="dietary-needs">Halal</label></div>

                <!-- Kosher Checkbox -->
                <div class="dietary-needs-outer"><input type="checkbox" id="kosher" value="kosher"><label for="kosher" class="dietary-needs">Kosher</label></div>

                <!-- Vegan Checkbox -->
                <div class="dietary-needs-outer"><input type="checkbox" id="vegan" value="vegan"><label for="vegan" class="dietary-needs">Vegan</label></div>

                <!-- Vegetarian Checkbox -->
                <div class="dietary-needs-outer"><input type="checkbox" id="vegetarian" value="vegetarian"><label for="vegetarian" class="dietary-needs">Vegetarian</label></div>
            </div>

        </div>
    </fieldset>