    <!-- Diner #1 enters their criteia -->
    <fieldset class="border-fieldset">
        <legend>diner #1</legend>
        <div class="form-input">
            <label for="choice1">Enter your first choice:</label>
            <select name="choice1" id="choice1" required>
                <option name="default" selected>?</option>
                <option name="sushi" value="sushi">sushi</option>
                <option name="pizza" value="pizza">pizza</option>
                <option name="salad" value="salad">salad</option>
                <option name="diner" value="diner">diner</option>
                <option name="burrito" value="burrito">burrito</option>
                <option name="thai" value="thai">Thai food</option>
                <option name="french" value="french">French food</option>
                <option name="hot-pot" value="hot-pot">hot pot</option>
                <option name="burger" value="burger">burger</option>
                <option name="dessert" value="dessert">dessert</option>
            </select>
        </div>
 
        <div class="form-input">
            <label for="choice2">Enter your second choice:</label>
            <select name="choice2" id="choice2" required>
                <option name="default" selected>?</option>
                <option name="sushi" value="sushi">sushi</option>
                <option name="pizza" value="pizza">pizza</option>
                <option name="salad" value="salad">salad</option>
                <option name="diner" value="diner">diner</option>
                <option name="burrito" value="burrito">burrito</option>
                <option name="thai" value="thai">Thai food</option>
                <option name="french" value="french">French food</option>
                <option name="hot-pot" value="hot-pot">hot pot</option>
                <option name="burger" value="burger">burger</option>
                <option name="dessert" value="dessert">dessert</option>
            </select>
        </div>

        <div class="form-input">
            <label for="choice3">Enter your third choice:</label>
            <select name="choice3" id="choice3" required>
                <option name="default" selected>?</option>
                <option name="sushi" value="sushi">sushi</option>
                <option name="pizza" value="pizza">pizza</option>
                <option name="salad" value="salad">salad</option>
                <option name="diner" value="diner">diner</option>
                <option name="burrito" value="burrito">burrito</option>
                <option name="thai" value="thai">Thai food</option>
                <option name="french" value="french">French food</option>
                <option name="hot-pot" value="hot-pot">hot pot</option>
                <option name="burger" value="burger">burger</option>
                <option name="dessert" value="dessert">dessert</option>
            </select>
        </div>
        
        <div class="form-input">
            <label for="dietary" name="dietary">Any dietary needs?</label>

            <div class="dietary">

                <!-- Allergy Checkbox -->
                <div class="dietary-needs-outer"><input type="checkbox" id="allergy" value="allergy" name="allergy"><label for="allergy" class="dietary-needs">Allergy</label></div>

                <!-- Gluten Free Checkbox -->
                <div class="dietary-needs-outer"><input type="checkbox" id="gluten-free" value="gluten-free" name="gluten-free"><label for="gluten-free" class="dietary-needs">Gluten-free</label></div>

                <!-- Halal Checkbox -->
                <div class="dietary-needs-outer"><input type="checkbox" id="halal" value="halal" name="halal"><label for="halal" class="dietary-needs">Halal</label></div>

                <!-- Kosher Checkbox -->
                <div class="dietary-needs-outer"><input type="checkbox" id="kosher" value="kosher" name="kosher"><label for="kosher" class="dietary-needs">Kosher</label></div>

                <!-- Vegan Checkbox -->
                <div class="dietary-needs-outer"><input type="checkbox" id="vegan" value="vegan" name="vegan"><label for="vegan" class="dietary-needs">Vegan</label></div>

                <!-- Vegetarian Checkbox -->
                <div class="dietary-needs-outer"><input type="checkbox" id="vegetarian" value="vegetarian" name="vegetarian"><label for="vegetarian" class="dietary-needs">Vegetarian</label></div>
            </div>

        </div>
    </fieldset>