<footer>
    <div class="footer-content">
    <ul>
        <li><a href="/about">about</a></li>
        <li><a href="/contact">contact</a></li>
    </ul>
    </div>
    <div class="copyright">&copy; Amy Rouse for CodeSquad <%= copyrightYear %>. </div>
</footer>

</body>
</html>