<header class="nav-menu">
    <!-- <a href="./index.html"><img src="./public/images/diinder_logo_png.png" alt="diinder: dinner, decided."></a> -->
    <a href="/"><span class="logo">di<span class="logo" id="extraIs"></span>inder</a></span>
    <span class="sub-logo">dinner, decided.</span>

</header>