<%- include('../partials/head') -%> 

<%- include('../partials/nav') -%> 

    <div class="main-outer-container">
        <main class="main-content">
            <!-- <div class="help"><p>?</p>
                <div class="help-tooltip">✌️</div>
            </div> -->
            <div>Diinder will decide what to have for dinner when you can't decide yourselves ;)</div>
         
            <div>Diinder results prioritize restaurants owned and operated by gender-minority and BIPOC-identfied people whenever possible.</div>
           
            <div>This project was created by Amy for CodeSquad in 2022 using Visual Studio Code.</div>
        </main>
    </div>

    <%- include('../partials/footer') -%> 