<%- include('../partials/head') -%> 

<%- include('../partials/nav') -%> 

    <div class="main-outer-container">
        <main class="main-content">
            <!-- <div class="help"><p>?</p>
                <div class="help-tooltip">✌️</div>
            </div> -->
            <p>Diinder will decide what to have for dinner when you can't decide yourselves ;)</p>
            <br>
            <p>Diinder results prioritize restaurants owned and operated by gender-minority and BIPOC-identfied people whenever possible.</p>
            <br>
            <p>This project was created by Amy for CodeSquad in 2022 using Visual Studio Code.</p>
        </main>
    </div>

    <%- include('../partials/footer') -%> 