<%- include('../partials/head') -%> 

<%- include('../partials/nav') -%> 

    <div class="main-outer-container">
        <main class="main-content about">
            <!-- <div class="help"><p>?</p>
                <div class="help-tooltip">✌️</div>
            </div> -->
            <p>Diinder will decide what you should have for dinner when you can't decide yourselves &#128521;</p>
         
            <p>Diinder results prioritize restaurants owned and operated by gender-minority and BIPOC-identfied people whenever possible.</p>
           
            <p>This project was created by Amy Rouse using Visual Studio Code, HTML, CSS, JavaScript, Node.js, Express, and boundless support from CodeSquad.</p>

            <p>The most special of thank-you's to Tony for deciding on our dinnder all the nights I was in class &#128150;</p>
        </main>
    </div>

    <%- include('../partials/footer') -%> 