<%- include('../partials/head') -%> 

<%- include('../partials/nav') -%> 

    <div class="main-outer-container">
        <main class="main-content">
            <!-- <div class="help"><p>?</p>
                <div class="help-tooltip">✌️</div>
            </div> -->
            <p>"What do you want for dinner?"</p>
            <p>"I don't know, what do you want?"</p>
            <p>"I don't care, anything."</p>
            <p>"How about...?"</p>
            <p>"No, I'm not in the mood for that. But, anything else is good."</p>
            <p>........</p>
            <br>
            <p>Diinder will help you decide what to have for dinner, when you can't decide yourselves ;)</p>
            <br>
            <p>This project was created by Amy for CodeSquad in 2022 using Visual Studio Code.</p>
        </main>
    </div>

    <%- include('../partials/footer') -%> 