<%- include('../partials/head') -%> 

<%- include('../partials/nav') -%> 

    <div class="main-outer-container">
        <main class="main-content">
            <div class="help"><p>?</p>
                <div class="help-tooltip">Clicking on "Fight" below will randomly pick one of the top-ranked choices :)</div>
            </div>
            <div class="challenge">
                <%for (option of resultArray) { %>
                    <%= resultArray.name %>
                <%}%>
                <span>🤼</span>
                <button type="submit">fight<span >!</span></button>
            </div>
        </main>
    </div>

    <%- include('../partials/footer') -%> 