<%- include('../partials/head') -%> 

<%- include('../partials/nav') -%> 

    <div class="main-outer-container">
        <main class="main-content">
            <!-- <div class="help"><p>?</p>
                <div class="help-tooltip">Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem assumenda cupiditate maxime at. Itaque totam porro, voluptatum quos optio facere nihil eligendi inventore ipsa quas corrupti vel mollitia quod aliquid.</div>
            </div> -->
            <p>Questions, comments, hellos:</p>
            <a href="mailtio:diinder@diinder.diinder">diinder@diinder.diinder</a>
        </main>
    </div>

    <%- include('../partials/footer') -%> 