<%- include('../partials/head') -%> 

<%- include('../partials/nav') -%> 

    <div class="main-outer-container">
        <main class="main-content">
            <div>
                Don't have an account? <a href="/register">Sign up now!</a>
            </div>
            <form action="/login" method="POST">
           <div>
               <label for="Username">Username:</label>
                <input type="text" name="username" placeholder="username" required />
            </div>

            <div>
                <label for="password">Password:</label>
                <input type="password" name="password" id="password" placeholder="password" minlength="8" required />
            </div>

            <div>
                <button type="submit">login</button>
            </div>
            </form>

            <div>
                <form action="/auth/google" method="GET">
                <button type="submit">
                    login or legister with google
                </button>
            </form>
            </div>
        
        </main>
    </div>

    <%- include('../partials/footer') -%> 