<%- include('../partials/head') -%> 

<%- include('../partials/nav') -%> 

    <div class="main-outer-container">
        <main class="main-content">
            <div>
                Already have an account? <a href="/login">Sign in here!</a>
            </div>
            <form action="/register" method="POST">
           <div>
               <label for="username">Username:</label>
                <input type="text" name="username" id="username" placeholder="username" required />
            </div>

            <div>
                <label for="password">Password:</label>
                <input type="password" name="password" id="password" placeholder="password" minlength="8" required />
            </div>

            <div>
                <button type="submit">sign up</button>
            </div>
            </form>


            <div>
                <form action="/auth/google" method="GET">
                        <button type="submit">
                            login or register with google
                        </button>
                </form>
            </div>
        </form>
        </main>
    </div>

    <%- include('../partials/footer') -%> 